.bg-sdc {
  background-color: #3b4256;
  font-family: "Inter", sans-serif;

  .navbar-brand {
    color: #fff;
    font-weight: 800;
    left: 25%;
  }

  .navbar-brand:hover {
    color: #fff;
  }

  .navbar-nav {
    font-weight: 400;

    .nav-link {
      color: #abb5be;
    }

    .nav-link:hover {
      color: #fff;
    }

    .nav-link.active {
      font-weight: 500;
      color: #fff;
    }
  }
}