.sdc-form {
  height: 100%;
  width: 100%;

  background-color: #fff;
  padding: 1rem;
}

.checkbox {
  column-count: 2;
  padding-bottom: 1rem;
}

.radio {
  padding-bottom: 1rem;
}

.integer {
  padding-bottom: 1rem;
}